body {
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px
	width: 960px;
	height: 495px;
	
	

}
/*body: 960px
section: 495px*/
header {
	background-color: #ebebeb;
	color: #888;
	padding: 40px;
	text-align: center;
	margin: 10px;
	margin-left: 15%;
	margin-right: 15%;


}
nav {
	background-color: #ebebeb;
	color: #888;
	padding: 40px;
	text-align: center;
	margin: 10px;
	margin-left: 15%;
	margin-right: 15%;
	

}
section {
	background-color: #ebebeb;
	color: #888;
	padding: 140px;
	text-align: center;
	margin: 10px; 
	margin-left: 15%;
	margin-right: 10px;
	width: 19.3%;
	height: 40px;
	float: left;
	
}/* How do we get the "aside"section to line up with the "section"?*/
aside {
	/*background-color: ;*/
	color: #888; 
	padding: 140px;
	text-align: center;
	margin: 10px;
	/*margin-left: 15%;*/
	margin-right: 8px; 
	width: 10%;
	height: 40px;
	background-color: #ebebeb;
	float: left;
 
	
}/* How do we get the grey box inside the "section" box? Are we going to use <strong> for h1,h2,h3 and <p> for p? */
article {
	clear: both;
	overflow: auto;
	background-color: #888;
	color: #ebebeb;
	padding: 60px;
	width: 100%;
	text-align: center;
	/*margin: 20px;*/
	width: 100%;
	height: 80px;
	margin-left: 2%;
	/*margin-bottom: 40%;*/
/*	margin-right: 50%;*/
	float: left;
	

}
strong {
	background-color: #ebebeb;
	color: #888;
	padding: 20px;
	text-align: center;
	margin: 40px;
	width: 50%;
	 

}
p {
	background-color: #ebebeb;
	color: #888;
	padding: 20px;
	text-align: center;
	margin: 40px;
	width: 50%;

}
footer{
	clear: both;
	overflow: auto;
	background-color: #ebebeb;
	color: #888;
	padding: 40px;
	text-align: center;
	margin: 40px;
	margin-left: 15%;
	margin-right: 15%;
}


